{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "globals": {
    "firebaseui": true
  }
}
