<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle %></title>
    <% include ./partials/header.ejs %>
  </head>
  <body>
    <h1 class="text-center"><%= pageMessage %></h1>
  </body>
</html>