<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle %></title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div id="wrapper" class="row row-full"></div>
    <% include ./partials/bottomBody.ejs %>
  </body>
</html>