$border-width: 2px;
$site-black: #303030;

body {
  width: 100%;
  margin: 0;
}

.full-horizontal-whitespace {
  margin-bottom: 10%;
}

.carousel-caption {
  background-color: rgba(256, 256, 256, 0.8);

  p {
    color: $site-black;
  }
}

.half-horizontal-whitespace {
  margin-bottom: 5%;
}

.quarter-horizontal-whitespace {
  margin-bottom: 2.5%;
}

#nav-container {
  border: $border-width solid red;
}

#articles-container {
  border: $border-width solid green;
}

#footer-container {
  border: $border-width solid blue;
}
