$border-width: 2px;
$site-black: #303030;
$small-screen-size: 320px;
$medium-screen-size: 600px;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;

  .full-horizontal-whitespace {
    margin-bottom: 10%;
  }

  .half-horizontal-whitespace {
    margin-bottom: 5%;
  }

  .quarter-horizontal-whitespace {
    margin-bottom: 2.5%;
  }

  .carousel-caption {
    background-color: rgba(256, 256, 256, 0.8);

    h3, p {
      color: $site-black;
    }
  }

  #wrapper {
    min-height: 90%;
  }

  div {
    margin: 0;
    box-sizing: border-box;
  }

  #root-container {
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;

    > div {
      height: 100%;
      padding: 10px;
      overflow-y: auto;
    }

    .row {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  #dashboard-app-container {
    float: none;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px #dedede, -3px -3px 5px #eaeaea;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fefefe;

    > div[id$='container'] {
      margin-top: 1em;
    }
  
    .site-name-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .sign-out-btn-container {
      display: flex;
      flex-grow: 2;
      justify-content: flex-end;
    }
    
    #search-sources-container {
      div.input {
        width: 95%;
      }
    }

    #sign-out-btn {
      margin-right: 1em;
    }

    #app-status-container {
      margin-top: 1em;
    }

    #articles-container {
      border-bottom: $border-width solid #ececec;
      margin-bottom: 1em;
      flex-grow: 2;
    }

    .article:first-child {
      border-top: $border-width solid #dddddd;
      margin-top: 2.5%;
    }

    .article:last-child {
      border-bottom: 0;
    }

    .article {
      border-bottom: $border-width solid #dddddd;
      padding: 2%;
      
      .article-title {
        box-sizing: border-box;
        display: block;
        margin-bottom: 0.5em;
        color: #2fa4e7;
        font-size: 1.8em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.2;
      }

      .article-description {
        @media screen and (max-width: $small-screen-size) {
          font-size: 1.5em;
        }

        @media screen and (max-width: $medium-screen-size) {
          font-size: 1.3em;
        }
      }
    }

    #footer-container {
      padding: 0 15px;
    }
  }
}
